body {
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 20px auto;
}

label,
select,
input,
button {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

input[type="date"],
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 150px;
}

button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #999;
    color: white;
}

button:hover {
    background-color: #888;
}

button[type="reset"]:hover {
    background-color: #bbb;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

form {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Убедитесь, что форма находится поверх карты */
}

form label {
    margin-right: 10px;
}

form select, form input[type="date"], form button {
    margin-right: 10px;
}

form button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

form button[type="reset"] {
    background-color: #6c757d;
}

form button:hover {
    background-color: #0056b3;
}

form button[type="reset"]:hover {
    background-color: #5a6268;
}

@media (max-width: 768px) {
    form {
        flex-direction: column;
        gap: 0.5rem
    }
}